.RowStyle {
    margin-bottom: 3rem;
}

.Tab {
    padding: 1rem 1rem;
    margin-right: 1rem;
    border-radius: 6px;
    margin-bottom: 100px;
    
}

.Tab a {
    margin-bottom: 100px;
}

.Tab:hover{
    background-color: #FCCFC2;
    text-decoration: none;

}

.TabActive {
    padding: 1rem 1rem;
    background-color: #FB9C80;
    color: #FFF;
    border-radius: 6px;
}

@media only screen and (max-width:820px){
    .RowStyle {
        margin-bottom: 0rem;
    }
}