.Header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    background-color: #FFF;
}


.HeaderTitle{
    display: flex;
    width: 70%;
    flex-direction: column;
    text-align: center;
}

.HeaderTitle h4 {
    font-size: 1.2em;
}

.HeaderTitle p {
    font-size: 0.8em;
}

.Button {
    color: #FFF;
    font-size: 0.8em;
    padding: 0.7rem 0rem;
    width: 100%;
    margin-bottom: 1rem;
    border: none;
}

.Button img {
    margin-right: 1rem;
}
