
.Modal{
    width: 75% !important;
    max-width: none!important;
}

.RowFlex {
    display: flex;
    justify-content: space-between;
}

.ModalBody {
    padding: 2rem 3rem;
    background-color: #FB9C80;
    color:#FFF;
}

.Container {
    background-color: #FFF;
    color: #4D4C4C;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}


.Desc {
    font-size: 0.8em;
}
