* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #4D4C4C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #F4F5F9;
}

.Wrapper {
  display: flex;
  font-size: 16px;
  flex-direction: row;
  background-color:#F4F5F9;
}

@media only screen and (max-width:600px){
  .Wrapper {
    flex-direction: column-reverse;
    font-size: 11px;
  }
}